* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #efefef;
  --cat-bg: #ffffff;
  --accent-light: #FFAA9A;
  --accent-dark: #F9765F;
}

/* .App {
  width: 1360px;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.catlist {
  display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(auto, auto);
	margin: 20px;
}

.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: var(--cat-bg);
  border-radius: 20px;
}

.cat-name {
  padding: 10px 0;
}
.cat-name h4, h5 {
  font-size: 17px;
  margin: 2px 0;
}
.cat-name h5 {
  font-weight: normal;
}

.cat-image {
  width: 100%;
  height: 220px;
  
}

.cat-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* .cat-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
} */

.cat h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.cat button {
  color: var(--accent-light);
  background-color: transparent;
  font-size: 17px;
  padding: 8px;
  border: none;
  border: 2px solid var(--accent-light);
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.15s, border-color 0.15s, font-weight 0.15s;
}

.cat button:hover {
  color: white;
  font-weight: bold;
  background-color: var(--accent-light);
  border-color: var(--accent-light);
}


@media all and (max-width: 1250px) {
  .catlist {
    grid-template-columns: repeat(3, auto);
  }
}

@media all and (max-width: 900px) {
  .catlist {
    grid-template-columns: repeat(2, auto);
    margin: 15px;
  }
  .cat {
    margin: 15px;
  }
}

@media all and (max-width: 600px) {
  .catlist {
    margin: 10px;
  }
  .cat {
    margin: 10px;
  }
}